.shareFooter {
    position: fixed!important;
    overflow: hidden!important;
    overflow-y: scroll!important;
    bottom: 0;
    width: 100%!important;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
    transition: all .3s;
}

.shareHidden {
    bottom: -40px;
}
