.shareFooter {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
    transition: all .3s;
    z-index: 1000;
    padding: 0.5em;
}

.shareHidden {
    display: none;
    transition: opacity 1s ease-out;
    -webkit-transition: all .3s;
}

.shareItems {
}
