.shareFooter {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
    transition: all .3s;
}

.shareHidden {
    display: none;
    transition: all .3s;
}
